# <center> Bài tập Thực hành môn Khai phá Dữ liệu </center>

### **Họ và tên:** Huỳnh Nguyễn Thế Dân
### **MSSV:** 21110256
### **Lớp:** 21TTH1

##  1.  Cài đặt thuật toán Apriori

In [11]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder


PATH = "data.csv"

# Load dataset
df =pd.read_csv(PATH)
display(df)

    Wine  Chips  Bread  Butter  Milk  Apple
0   Wine  Chips  Bread  Butter  Milk  Apple
1   Wine    NaN  Bread  Butter  Milk    NaN
2    NaN    NaN  Bread  Butter  Milk    NaN
3    NaN  Chips    NaN     NaN   NaN  Apple
4   Wine  Chips  Bread  Butter  Milk  Apple
5   Wine  Chips    NaN     NaN  Milk    NaN
6   Wine  Chips  Bread  Butter   NaN  Apple
7   Wine  Chips    NaN     NaN  Milk    NaN
8   Wine    NaN  Bread     NaN   NaN  Apple
9   Wine    NaN  Bread  Butter  Milk    NaN
10   NaN  Chips  Bread  Butter   NaN  Apple
11  Wine    NaN    NaN  Butter  Milk  Apple
12  Wine  Chips  Bread  Butter  Milk    NaN
13  Wine    NaN  Bread     NaN  Milk  Apple
14  Wine    NaN  Bread  Butter  Milk  Apple
15  Wine  Chips  Bread  Butter  Milk  Apple
16   NaN  Chips  Bread  Butter  Milk  Apple
17   NaN  Chips    NaN  Butter  Milk  Apple
18  Wine  Chips  Bread  Butter  Milk  Apple
19  Wine    NaN  Bread  Butter  Milk  Apple
20  Wine  Chips  Bread     NaN  Milk  Apple
21   NaN  Chips    NaN     NaN   NaN    NaN

In [12]:
# Convert data frame to list
records = []
for i in range(0, df.shape[0]):
    records.append([str(df.values[i,j]) for j in range(0, df.shape[1])])

In [13]:
records

[['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'nan'],
 ['nan', 'nan', 'Bread', 'Butter', 'Milk', 'nan'],
 ['nan', 'Chips', 'nan', 'nan', 'nan', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'nan', 'nan', 'Milk', 'nan'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'nan', 'Apple'],
 ['Wine', 'Chips', 'nan', 'nan', 'Milk', 'nan'],
 ['Wine', 'nan', 'Bread', 'nan', 'nan', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'nan'],
 ['nan', 'Chips', 'Bread', 'Butter', 'nan', 'Apple'],
 ['Wine', 'nan', 'nan', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'nan'],
 ['Wine', 'nan', 'Bread', 'nan', 'Milk', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['nan', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['nan', 'Chips', 'nan', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'nan', 'Milk', 'Apple'],
 ['nan', 'Chips', 'nan', 'nan', 'nan', 'nan']]

In [14]:
# Convert records to transaction
te = TransactionEncoder()
te_ary = te.fit(records).transform(records)
dfl = pd.DataFrame(te_ary, columns=te.columns_)

display(dfl)

    Apple  Bread  Butter  Chips   Milk   Wine    nan
0    True   True    True   True   True   True  False
1   False   True    True  False   True   True   True
2   False   True    True  False   True  False   True
3    True  False   False   True  False  False   True
4    True   True    True   True   True   True  False
5   False  False   False   True   True   True   True
6    True   True    True   True  False   True   True
7   False  False   False   True   True   True   True
8    True   True   False  False  False   True   True
9   False   True    True  False   True   True   True
10   True   True    True   True  False  False   True
11   True  False    True  False   True   True   True
12  False   True    True   True   True   True   True
13   True   True   False  False   True   True   True
14   True   True    True  False   True   True   True
15   True   True    True   True   True   True  False
16   True   True    True   True   True  False   True
17   True  False    True   True   True  False   True
18   True   True    True   True   True   True  False
19   True   True    True  False   True   True   True
20   True   True   False   True   True   True   True
21  False  False   False   True  False  False   True

In [15]:
frequent_itemsets = apriori(dfl, min_support=0.6, use_colnames=True)
display(frequent_itemsets)

    support      itemsets
0  0.681818       (Apple)
1  0.727273       (Bread)
2  0.681818      (Butter)
3  0.636364       (Chips)
4  0.772727        (Milk)
5  0.727273        (Wine)
6  0.818182         (nan)
7  0.636364  (Wine, Milk)

In [16]:
# Build association rules using support metric
rules = association_rules(frequent_itemsets, metric = 'support', support_only=True, min_threshold=0.1)

rule = rules[['antecedents', 'consequents', 'support']]
display(rule)

  antecedents consequents   support
0      (Wine)      (Milk)  0.636364
1      (Milk)      (Wine)  0.636364

##  2.  Cài đặt lại thuật toán Apritori

In [17]:
class MyTransactionEncoder:
    def __init__(self):
        self.unique_items = set()
        self.column_names = []  # Lưu trữ tên của các cột
        
    def fit(self, transactions):
        for transaction in transactions:
            for item in transaction:
                self.unique_items.add(item)
        self.unique_items = sorted(self.unique_items)
        self.column_names = self.unique_items  # Lưu tên cột dưới dạng các mặt hàng được sắp xếp
        return self
        
    def transform(self, transactions):
        item_index = {item: idx for idx, item in enumerate(self.unique_items)}
        transaction_matrix = []
        for transaction in transactions:
            row = [False] * len(self.unique_items)
            for item in transaction:
                if item in item_index:
                    row[item_index[item]] = True
            transaction_matrix.append(row)
        return transaction_matrix
        
    def fit_transform(self, transactions):
        self.fit(transactions)
        return self.transform(transactions)
    
    def get_feature_names(self):
        """ Trả về danh sách các tên cột, tương ứng với các mặt hàng duy nhất """
        return self.column_names

In [18]:
myRecords = records.copy()

encoder = MyTransactionEncoder()
myEncodeArray = encoder.fit_transform(myRecords)

my_dfl = pd.DataFrame(myEncodeArray, columns=encoder.get_feature_names())

display(my_dfl)

    Apple  Bread  Butter  Chips   Milk   Wine    nan
0    True   True    True   True   True   True  False
1   False   True    True  False   True   True   True
2   False   True    True  False   True  False   True
3    True  False   False   True  False  False   True
4    True   True    True   True   True   True  False
5   False  False   False   True   True   True   True
6    True   True    True   True  False   True   True
7   False  False   False   True   True   True   True
8    True   True   False  False  False   True   True
9   False   True    True  False   True   True   True
10   True   True    True   True  False  False   True
11   True  False    True  False   True   True   True
12  False   True    True   True   True   True   True
13   True   True   False  False   True   True   True
14   True   True    True  False   True   True   True
15   True   True    True   True   True   True  False
16   True   True    True   True   True  False   True
17   True  False    True   True   True  False   True
18   True   True    True   True   True   True  False
19   True   True    True  False   True   True   True
20   True   True   False   True   True   True   True
21  False  False   False   True  False  False   True

In [19]:
def MyApriori(transactions, min_support):
    from itertools import combinations
    
    # Hàm này sẽ trả về tất cả các mục duy nhất trong tất cả các giao dịch
    def items_in_transactions(transactions):
        items = set()
        for transaction in transactions:
            items.update(transaction)
        return items
    
    # Hàm này tạo ra các tập ứng viên k-item từ các tập thường xuyên (k-1)-item
    def generate_candidate_sets(frequent_sets, k):
        return set([
            frozenset(set1 | set2)
            for set1 in frequent_sets
            for set2 in frequent_sets
            if len(set1 | set2) == k
        ])
    
    # Hàm này tính tỷ lệ hỗ trợ cho một tập ứng viên cụ thể
    def calculate_support(candidate_set, transactions):
        return sum(1 for transaction in transactions if candidate_set.issubset(transaction)) / len(transactions)
    
    # Lấy tất cả các mục từ các giao dịch
    items = items_in_transactions(transactions)
    # Khởi tạo các tập ứng viên 1-item
    candidate_1_item_sets = [{item} for item in items]
    frequent_sets = []
    support_sets = []
    
    # Xác định các tập thường xuyên 1-item
    for candidate in candidate_1_item_sets:
        support = calculate_support(candidate, transactions)
        if support >= min_support:
            frequent_sets.append(frozenset(candidate))
            support_sets.append(support)
    
    # Khởi tạo k = 2
    k = 2
    while True:
        # Tạo các tập ứng viên k-item từ các tập thường xuyên (k-1)-item
        candidate_k_item_sets = generate_candidate_sets(frequent_sets, k)
        current_frequent_sets = []
        current_support_sets = []
        for candidate_set in candidate_k_item_sets:
            support = calculate_support(candidate_set, transactions)
            if support >= min_support:
                current_frequent_sets.append(candidate_set)
                current_support_sets.append(support)
        
        # Nếu không còn tập ứng viên mới thường xuyên, quá trình sẽ dừng lại
        if not current_frequent_sets:
            break
        
        # Cập nhật các tập thường xuyên và tăng k lên 1
        frequent_sets.extend(current_frequent_sets)
        support_sets.extend(current_support_sets)
        k += 1
    
    # Trả về tất cả các tập thường xuyên tìm được
    return frequent_sets, support_sets

In [20]:
frequent_itemsets = MyApriori(myRecords, min_support=0.6)
display(pd.DataFrame(frequent_itemsets))

,0,1,2,3,4,5,6,7
0,(Chips),(Wine),(Bread),(nan),(Milk),(Apple),(Butter),"(Wine, Milk)"
1,0.636364,0.727273,0.727273,0.818182,0.772727,0.681818,0.681818,0.636364